{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "atoms": "./src/components/atoms",
          "lib": "./src/lib",
          "assets": "./src/assets",
          "pages": "./src/pages",
          "state": "./src/state",
          "context": "./src/context",
          "containers": "./src/containers",
          "helpers": "./src/helpers",
          "images": "./src/images"
        }
      }
    ]
  ]
}
