{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "lib": "./src/lib",
          "assets": "./src/assets",
          "pages": "./src/pages",
          "state": "./src/states"
        }
      }
    ]
  ]
}
