{
  "extends": "react-app",
  "rules": {
    "semi": ["error", "never"],
    "array-callback-return": ["off"],
    "no-tabs": "error",
    // "indent": ["warning", 2, {
    //   "ignoredNodes": ["TemplateLiteral"]
    // }],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ]
  }
}
