/* stylelint-disable declaration-block-no-duplicate-custom-properties */
/* stylelint-disable named-grid-areas-no-invalid */
/* stylelint-disable no-invalid-position-at-import-rule */
/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable value-list-comma-newline-after */
/* stylelint-disable no-irregular-whitespace */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth !important;
  line-height: 1.5;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  font-family: 'Poppins', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

*::selection {
  background-color: #ec4899;
  color: white;
}

// Other Styles

.customShadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0 4px 12px;
}

.main-loader {
  & .hide {
    display: none;
  }
  & .show {
    display: block;
  }
}

@mixin gradient {
  --tw-gradient-from: #ec4899;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(236, 72, 153, 0));
  --tw-gradient-to: #f59e0b;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@mixin gradientBorder {
  --tw-gradient-from: #ec4899;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(236, 72, 153, 0));
  --tw-gradient-to: #f59e0b;
  border-style: solid;
  border-image-slice: 1;

  border-radius: 999000;
  border-image-source: linear-gradient(to right, var(--tw-gradient-stops));
}

div {
  // border: 1px solid red;
}

// // Without changing default text color to blue
.normal-hover:hover {
  @include gradient();
}

.gradient-border {
  @include gradientBorder();

  &.bottom {
    border-bottom: 1px;
  }

  &.full {
    border: 1px;
  }
}

.hover\:gradient-border:hover {
  @include gradientBorder();

  &.bottom {
    border-bottom: 1px;
  }

  &.full {
    border: 1px;
  }
}

.gradient-text {
  @include gradient();
}

.link-hover:hover {
  @include gradient();
}

.gradient-bg-light {
  --tw-gradient-from: #ec4899;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(236, 72, 153, 0));
  --tw-gradient-to: #f59e0b;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.feature {
  .feature-icon {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    .feature-icon {
      transform: translateY(-10px);
    }
  }
}

.tooltip-ref {
  &:hover {
    & .tooltip-container {
      display: block;
    }
  }

  & .tooltip-container {
    display: hidden;
  }
}

$gray-800: #1f2937;
$gray-700: #374151;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d5db;
$gray-200: #e5e7eb;
$gray-100: #f3f4f6;
$gray-50: #f9fafb;

$yellow: #f59e0b;
$red: #f59e0b;
$pink: #ec4899;

.custom-scroll-mini::-webkit-scrollbar {
  width: 0.5rem;
}

.custom-scroll-mini::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.custom-scroll-mini::-webkit-scrollbar-thumb {
  background-color: rgb(31, 41, 55);
  border-radius: 50px;
}

.custom-scroll-mini.darker::-webkit-scrollbar-thumb {
  background-color: rgb(55, 65, 81);
}

// ---------------------------- general scrollbar styles ----------------------------
.dark ::-webkit-scrollbar {
  width: 1rem;
}

.dark ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-track-piece {
  background-color: rgba(31, 41, 55, 1);
}

// ----------------------  For MD dark scroll bar ------------------------------

.dark .scroll-dark-md::-webkit-scrollbar {
  width: 1rem;
}

.dark .scroll-dark-md::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dark .scroll-dark-md::-webkit-scrollbar-thumb {
  background-color: $gray-600;
  border-radius: 0;
}

.dark .scroll-dark-md::-webkit-scrollbar-track-piece {
  background-color: $gray-700;
}

// Divider

.divider {
  border-bottom-width: 1px;

  --tw-border-opacity: 1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.dark .dark\:divider {
  --tw-border-opacity: 1;
  border-bottom-width: 1px;

  --tw-border-opacity: 1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-color: rgba(55, 65, 81, var(--tw-border-opacity));
}

// show items on hover

.on-hover-container {
  & .on-hover-item {
    opacity: 0;
    transform: scale(0.65);
    transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
  }

  &:hover .on-hover-item {
    opacity: 100;
    transform: scale(1);
  }
}

#home_search_panel {
  box-shadow: none;
  border-color: transparent;
}

button {
  &:focus {
    outline: none !important;
  }
  outline: none !important;
}

.border-gradient {
  background-image: linear-gradient($gray-800, $gray-800),
    radial-gradient(circle at top left, $pink, $yellow);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.customDropDown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 12px 16px;
  z-index: 10;
  border-radius: 8px;
}

.customDropdown:hover .dropdown-content {
  display: block;
}
